<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminregisterstudent.css">
    <title>student Register</title>
</head>

<body>

    <div id="mid" class="color">
        <img id="image" src="https://qalam.nust.edu.pk/odoocms_assets/static/img/logo.svg">
        <h3 id="title" class="Title">National University of Sciences & Technology</h3>
        <!-- <form action="/adminlogin" method="POST"> -->
        <button id="backbtn" onclick="history.back()">Back >> </button>
        <!-- </form> -->
    </div>
    <div id="infocontainer">
        <div id="info">
            <div id="marginaldiv">
                <h3><b><i>Registration</i></b></h3><br />
                <%= message %>
                    <form action="/registernewstudent" method="POST">
                        <label for="name">name :</label>
                        <input type="text" id="name" name="name" required>

                        <label for="name">email :</label>
                        <input type="text" id="name" name="email" required>

                        <label for="name">Password :</label>
                        <input type="password" id="name" name="password" required>

                        <label for="name">discipline:</label>
                        <input type="text" id="name" name="discipline" required>

                        <label for="name">semester:</label>
                        <input type="text" id="name" name="semester" required>

                        <label for="name">date of birth:</label>
                        <input type="date" id="name" name="dateofbirth" required>

                        <label for="name">Gender:</label>
                        <input type="text" id="name" name="gender" required>

                        <label for="name">Phone number:</label>
                        <input type="text" id="name" name="phone" required>

                        <label for="name">Address:</label>
                        <input type="text" id="name" name="address" required>

                        <button type="submit" id="btn">Register</button>
                    </form>
            </div>
        </div>
    </div>
</body>

</html>