<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminregisterteacher.css">
    <title>Teacher Register</title>
</head>

<body>

    <div id="mid" class="color">
        <img id="image" src="https://qalam.nust.edu.pk/odoocms_assets/static/img/logo.svg">
        <h3 id="title" class="Title">National University of Sciences & Technology</h3>
        <!-- <form action="/adminlogin" method="POST"> -->
        <button id="backbtn" onclick="history.back()">Back >> </button>
        <!-- </form> -->
    </div>
    <div id="infocontainer">
        <div id="info">
            <div id="marginaldiv">
                <h3><b><i>Teacher Registration</i></b></h3><br />
                <%= message %>
                    <form action="/adminregistercourses" method="POST">
                        <label for="name">Student Name :</label>
                        <input type="text" id="name" name="name" required>

                        <label for="name">Student ID :</label>
                        <input type="text" id="name" name="cmsid" required>

                        <label for="name">Course Name:</label>
                        <input type="text" id="name" name="coursename" required>

                        <label for="name">Course ID:</label>
                        <input type="text" id="name" name="courseid" required>

                        <button type="submit" id="btn">Register</button>
                    </form>
            </div>
        </div>
    </div>
</body>

</html>