<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/studentprofileupload.css">
        <title>profile link</title>
    </head>
    <body>
        
        <div id="mid" class="color">
            <img id="image" src="image.png">   
            <h3 id="title" class="Title">National University of Sciences & Technology</h3>
        </div>

        <div class="center">
            <h1 id="qalam">UPLOAD PROFILE</h1>
            <%= message %>
            <form action="/studentprofileupload" method="POST">
                <input id="btn" type="text" placeholder="Paste link here" name="profilelink" required/>
                <br /><br />
                <button id="login" type="submit">Upload</button>
            </form>

        </div>  

        <p id="text">Developed by <b><i>AMNA</i></b>, National University of Sciences & Technology,</p>
        <p id="text1">H-12, Islamabad, Pakistan 2022© All right reserved.</p>

    </body>
</html> -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/studentprofileupload.css">
    <title>profile link</title>
</head>
<body>
    
    <div id="mid" class="color">
        <img id="image" src="https://qalam.nust.edu.pk/odoocms_assets/static/img/logo.svg">   
        <h3 id="title" class="Title">National University of Sciences & Technology</h3>
        <form action="/studentlogin" method="POST">
            <button id="backbtn">Back >> </button>
        </form>
    </div>

    <div class="center">
        <h1 id="qalam">UPLOAD PROFILE</h1>

        <%= message %>
        <form action="/studentprofileupload" method="POST">
            <input id="btn" type="text" placeholder="Paste link here" name="profilelink" required/>
            <br /><br />
            <button id="login" type="submit">Upload</button>
        </form>
        
    </div>  

    <p id="text">Developed by <b><i>AMNA</i></b>, National University of Sciences & Technology,</p>
    <p id="text1">H-12, Islamabad, Pakistan 2022© All right reserved.</p>

</body>
</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/studentprofileupload.css">
    <title>profile link</title>
</head>

<body>

    <div id="mid" class="color">
        <img id="image" src="https://qalam.nust.edu.pk/odoocms_assets/static/img/logo.svg">
        <h3 id="title" class="Title">National University of Sciences & Technology</h3>
        <form action="/studentlogin" method="POST">
            <button id="backbtn">Back >> </button>
        </form>
    </div>

    <div class="center">
        <h1 id="qalam">UPLOAD PROFILE</h1>

        <%= message %>
            <form action="/studentprofileupload" method="POST">
                <input id="btn" type="text" placeholder="Paste link here" name="profilelink" required />
                <br /><br />
                <button id="login" type="submit">Upload</button>
            </form>

            <!-- <input id="btn" type="text" placeholder="paste link here"/>
        <br /><br />
        <button id="login">upload</button> -->
    </div>

    <p id="text">Developed by <b><i>AMNA</i></b>, National University of Sciences & Technology,</p>
    <p id="text1">H-12, Islamabad, Pakistan 2022© All right reserved.</p>

</body>

</html>