<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/studentattendencedetails.css">
  <title>Attendence Of Student</title>
</head>

<body>

  <div id="mid" class="color">
    <img id="image" src="https://qalam.nust.edu.pk/odoocms_assets/static/img/logo.svg">
    <h3 id="title" class="Title">National University of Sciences & Technology</h3>
    <button id="backbtn" onclick="history.back()">Back >> </button>
  </div>
  <div id="tablecontainer">
    <div id="table">
      <table>
        <tr>
          <th>Course Title: <%= result[0].coursename %>
          </th>
          <th><b>Attendence Details</b></th>
        </tr>
        <tr>
          <td><b>Total Classes Conducted</b></td>
          <td>
            <%= result[0].classes_conducted %>
          </td>
        </tr>
        <tr>
          <td><b>Total Classes Attended</b></td>
          <td>
            <%= result[0].classes_taken %>
          </td>
        </tr>
        <tr>
          <td><b>Percentage</b></td>
          <td>
            <%= result[0].percentage %>%
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>