<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/studentattendence.css">
    <title>ATTENDENCE</title>
</head>

<body>

    <div id="mid" class="color">
        <img id="image" src="https://qalam.nust.edu.pk/odoocms_assets/static/img/logo.svg">
        <h3 id="title" class="Title">National University of Sciences & Technology</h3>
        <form action="/teacherlogin" method="post">
            <button type="submit" id="backbtn">Back >> </button>
        </form>
    </div>
    <h1 id="results">Attendence</h1>

    <div id="subjects">

        <% for (var i=0; i < result.length; i++ ) { %>

            <form action="<%= url %>/courseid_<%= result[0].courseid %>/teachermarkattendence" method="post">
                <input style="display: none;" type="text" , value="<%= result[0].courseid %>" name="courseid">
                <button id="SN" type="submit">
                    <h3>
                        <%= result[0].coursename %>
                    </h3>
                </button>
            </form>

            <% } %>

    </div>

</body>

</html>