body {
    background-color: rgb(216, 215, 237);
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    font-family: sans-serif;
}

#title {
    color: white;
    margin: 5px;
}

.Title {
    display: flex;
    text-align: center;
}

#image {
    width: 62px;
    height: 63px;
    float: left;
    margin-left: 101px;
}

#mid {
    margin: auto;
    height: 12vh;
    width: 100vw;
    text-align: left center;
    display: flex;
    align-items: center;
}

.color {
    background: linear-gradient(to right, rgb(90, 135, 165), rgb(90, 135, 165), rgb(65, 105, 125));
    border-bottom: 5px solid rgb(53, 92, 111);
    padding: 5px;
}

div {
    transition-duration: 1s;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

#info {
    width: 22vw;
    height: 72vh;
    margin: 1cm;
    padding: 10px;
    background-color: white;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgb(206, 205, 227);
    display: flex;
    justify-content: center;
}

#infocontainer {
    height: 80vh;
    width: 100vw;
    background-color: rgb(216, 215, 237);
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    width: 170px;
    height: 20px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


#btn:hover {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

#btn {
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
}

#name {
    display: block;
}

#marginaldiv {
    background-color: white;
    /* height: 20px; */
    width: 175px;
}

#backbtn {
    width: 160px;
    height: 50px;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: -24px;
}

#backbtn:hover {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

#backbtn {
    background-color: rgb(90, 135, 165);
    color: white;
    border: 2px solid white;
    border-radius: 10%;
    right: 0;
    position: absolute;
    margin-right: 15px;
}